@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

@plugin "@tailwindcss/typography";

@theme {
    /* COLOR */
    --color-primary: hsl(20, 30%, 10%);
    --color-primary-foreground: hsl(20, 100%, 92%);
    --color-primary-desaturated: hsl(20, 10%, 6%);
    --color-primary-border: hsl(20, 26%, 12%);
    --color-accent: hsl(20, 100%, 50%);
    
    /* FONT */
    --font-primary: Rajdhani, system-ui;

    /* OTHER */
    --radius-interactive: 0.4rem;
    --duration-interactive: 200ms;
}

@layer base {
    :root {
        color: var(--color-primary-foreground); 
        font-family: var(--font-primary);
    }
}