---
import Head from '../components/Head.astro';
import Footer from '../components/Footer.astro';
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import Tag from '../components/Tag.astro';
import Date from '../components/Date.astro';

import { USER_PROFESSIONAL_DESCRIPTION } from "../data/user-professional";
import { USER_NAME } from '../data/user-personal';
import { getCollection } from 'astro:content';


const posts = (await getCollection('posts')).sort(
	(a: any, b: any) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const heroTags: string[] = ["Tag A", "Tag B", "Tag C"];

const postFilters: string[] = ["Tag A", "Tag B"];
---

<!doctype html>
<html lang="en" class="bg-primary-desaturated">
	<head><Head pageTitle=`${ USER_NAME }'s Portfolio` pageDescription=`Home page of ${USER_NAME}'s portfolio.`  /></head>
	<body>
		<main class="min-h-svh bg-linear-to-b from-primary-desaturated to-primary">
			<!-- HEADER -->
			<Header />

			<!-- HERO -->
			<Section class="max-w-xl mx-auto py-32 text-center">
				<!-- PROFESSIONAL DESCRIPTION -->
				{ USER_PROFESSIONAL_DESCRIPTION }

				<!-- TAGS -->
				<div class="flex flex-row flex-wrap justify-center gap-2 mt-4">
					{
						heroTags.map((tag) => (
							<Tag title={tag} />
						))
					}
				</div>
			</Section>

			<!-- POSTS -->
			<Section>
				<div class={postFilters.length > 0 ? "flex gap-2 mb-2" : "hidden"}>
					{
						postFilters &&
						postFilters.map((postFilter) => (
							<Tag title={postFilter} />
						))
					}
				</div>
				<div class="group grid grid-cols-2 gap-4 p-8 border rounded-lg border-accent bg-linear-to-b from-primary to-primary-desaturated pointer-events-none hover:border-gray-700/50 duration-200">					
					{
						posts.map((post: any) => (
							<div class="min-h-32 h-min border rounded-xl border-gray-700/30 bg-primary pointer-events-auto hover:border-accent duration-200">
								<img>
								<div class="p-2">
									<h3 class="text-primary-foreground/50"><Date date={post.data.date} /></h3>
									<h2 class="text-lg font-semibold">{ post.data.title }</h2>
									<p>{ post.data.description }</p>
								</div>
							</div>
						))
					}
				</div>
			</Section>

			<!-- FOOTER -->
			<Footer />
		</main>
	</body>
</html>
