---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import "../styles/tailwind.css";

import Section from "../components/Section.astro";
---

<!doctype html>
<html lang="en" class="bg-primary-desaturated">
	<body>
		<!-- <Header /> -->
		<main class="min-h-svh bg-linear-to-b from-primary-desaturated to-primary">
			<Section class='h-32' />
			<Section class='flex flex-row'>
				<h1 class="text-5xl">Kadir Lofca</h1>
				<div class="flex flex-wrap w-min ml-auto">
					<a href="">kadirlofca@outlook.com</a>
					<a href="">LinkedIn</a>
					<a href="">GitHub</a>
					<a href="">Discord</a>
					<a href="">YouTube</a>
				</div>
			</Section>
			<Section> 
				<div class="h-lvh"></div>
			</Section>
		</main>
		<!-- <Footer /> -->
	</body>
</html>
