---
import Head from '../components/Head.astro';
import Footer from '../components/Footer.astro';
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import Tag from '../components/Tag.astro';

import { USER_PROFESSIONAL_DESCRIPTION } from "../data/user-professional";
import { USER_NAME } from '../data/user-personal';
import { getCollection } from 'astro:content';


const posts = (await getCollection('posts')).sort(
	(a: any, b: any) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const heroTags: string[] = ["Tag A", "Tag B", "Tag C"];
---

<!doctype html>
<html lang="en" class="bg-primary-desaturated">
	<head><Head pageTitle=`${ USER_NAME }'s Portfolio` pageDescription=`Home page of ${USER_NAME}'s portfolio.`  /></head>
	<body>
		<main class="min-h-svh bg-linear-to-b from-primary-desaturated to-primary">
			<!-- HEADER -->
			<Header />

			<!-- HERO -->
			<Section class="max-w-xl mx-auto py-32 text-center">
				<!-- PROFESSIONAL DESCRIPTION -->
				{ USER_PROFESSIONAL_DESCRIPTION }

				<!-- TAGS -->
				<div class="flex flex-row flex-wrap justify-center gap-2 mt-4">
					{
						heroTags.map((tag) => (
							<Tag title={tag} />
						))
					}
				</div>
			</Section>

			<!-- POSTS -->
			<Section>
				<div class="grid grid-cols-2 p-8 bg-primary border rounded-lg border-accent">
					{
						posts.map((post: any) => (
							<div class="">
								{ post.data.title }
							</div>
						))
					}
				</div>
			</Section>

			<!-- FOOTER -->
			<Footer />
		</main>
	</body>
</html>
