---
import Section from "./Section.astro";
import Header from "./Header.astro";
---

<Header />
<Section class='py-16 m-auto text-center'>
	<a class="hover:underline" target="_blank" rel="noopener noreferrer" href="https://github.com/kadirlofca/backstage">Site design & development by Kadir Lofca.</a>
</Section>