---
import Section from "./Section.astro";
import Arrow from "../components/Arrow.astro";

import { USER_SOCIALS, USER_EMAIL } from "../data/user-contact";
import { USER_NAME } from "../data/user-personal";
---

<Section class='flex flex-row p-2'>
	<a class="my-auto hover:text-white" href="/"><h1>{ USER_NAME }</h1></a>

	<!-- USER CONTACT -->
	<div class="flex flex-col ml-auto">
		<div class="flex flex-row-reverse flex-wrap gap-2">
			<a class="hover:text-white duration-200" href={`mailto:${ USER_EMAIL }`}>{ USER_EMAIL }<Arrow rotate={-45} /></a>
			{ 
				USER_SOCIALS.map((social) => (
					<a class="hover:text-white duration-200" href={social.href}>{social.title}<Arrow rotate={-45} /></a>
				))
			}
		</div>
	</div>
</Section>

<!-- CREDITS -->
<Section class='flex flex-row justify-center gap-8 py-16 m-auto text-center'>
	<a class="hover:text-white duration-200" target="_blank" rel="noopener noreferrer" href="https://github.com/kadirlofca/backstage">Site template by Kadir Lofca <Arrow rotate={-45} /></a>
	<div class="group w-24 p-1 border rounded-interactive border-primary-foreground text-primary-foreground text-xs text-nowrap font-black opacity-60">
		<span class="group-hover:hidden">100% HANDMADE</span>
		<span class="hidden group-hover:inline">0% AI</span>
	</div>
</Section>