---
interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<div class="hidden max-w-6xl mx-auto p-4 border-x border-primary-border peer::block" />

<section class="border border-primary-border">
    <div class="max-w-6xl mx-auto border-x border-primary-border">
        <div class={className}>
            <slot />
        </div>
    </div>
</section>