---
interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<div class="border border-gray-700/10">
    <div class="max-w-6xl mx-auto border-x border-gray-700/25">
        <div class={className}>
            <slot />
        </div>
    </div>
</div>