---
interface Props {
    onClick: any;
}

const { onClick } = Astro.props;
---

<button onclick={onClick} class="inline-block w-fit px-2 py-1 bg-primary border rounded-lg border-accent text-accent font-semibold hover:bg-accent hover:text-primary hover:cursor-pointer duration-200">
    <slot />
</button>