---
interface Props {

}

const { } = Astro.props;
---

<button class="inline-block w-fit px-2 py-1 bg-primary border rounded-lg border-accent text-accent font-semibold hover:bg-accent hover:text-primary-foreground hover:cursor-pointer duration-200">
    <slot />
</button>