---
interface Props {
    title: string
}

const { title } = Astro.props;
---

<div class="inline-block w-fit px-2 py-1 bg-primary border rounded-xl border-accent text-accent font-semibold hover:bg-accent hover:text-primary hover:cursor-pointer">
    {title}
</div>